APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=

DB_CONNECTION=sqlite

# Twilio API credentials
# Found at https://www.twilio.com/user/account/voice
TWILIO_ACCOUNT_SID=
TWILIO_ACCOUNT_AUTHTOKEN=

# Twilio phone number
# Purchase one at https://www.twilio.com/user/account/phone-numbers
TWILIO_NUMBER=

# SID of your TwiML Application
# https://www.twilio.com/console/voice/twiml/apps
# OR
# twilio api:core:applications:create --friendly-name=voice-client-javascript
TWILIO_APPLICATION_SID=

# Your REST API Key information
# https://www.twilio.com/console/project/api-keys
# OR
# twilio api:core:keys:create --friendly-name=voice-client-javascript -o json
# NOTE: Make sure to copy the secret, it'll will only be displayed once
TWILIO_API_KEY=
TWILIO_API_SECRET=

# Twilio Workspace
TWILIO_WORKSPACE_SID=
# Twilio WorkFlow
TWILIO_WORKFLOW_SID=
